/***********************************************************************
This is written by Austin Cheney on 3 Mar 2009. Anybody may use this;
code without permission so long as this comment exists verbatim in each;
instance of its use.

http://www.travelocity.com/
http://mailmarkup.org/
http://prettydiff.com/
***********************************************************************/
.diff table {
    width: 100%;
}

.diff td {
    vertical-align: top;
    word-break: keep-all;
    white-space: pre;
}

.diff > tbody > tr> td td {
    height: 12px; /** Adjust it to your sites font size */
}

.white .diff {
    border-color: #999
}

.white .diff .empty {
    background-color: #ddd;
    border-color: #ccc
}

.white .diff .replace {
    background-color: #fea;
    border-color: #dd8
}

.white .diff .delete {
    background-color: #fbb;
    border-color: #eaa
}

.white .diff .equal {
    background-color: #fff;
    border-color: #eee
}

.white .diff .skip {
    background-color: #efefef;
    border-color: #ddd
}

.white .diff .insert {
    background-color: #bfb;
    border-color: #aea
}

.white .diff .insert em {
    background-color: #efc;
    border-color: #070;
    color: #050
}

.diff {
    border-style: solid;
    border-width: .2em;
    display: inline-block;
    font-family: 'Courier New', Courier, 'Lucida Console', monospace;
    margin: 0 1em 1em 0;
    position: relative
}

.diff .skip {
    border-style: none none solid;
    border-width: 0 0 .1em
}

.diff .replace em, .diff .delete em, .diff .insert em {
    border-style: solid;
    border-width: .1em
}

.diff .diff-left > div, .diff .diff-right > div {
    overflow: auto;
}

.diff .diff-left > div td:first-child, .diff .diff-right > div td:first-child {
    text-align: right;
    min-width: 30px;
}

.diff .diff-left > div td:last-child, .diff .diff-right > div td:last-child {
    width: 100%;
}
