<div ng-controller="NodeCtrl" class="treenode" ng-class="{'selected':isSelected(child)}">
    <div class="head">
        <span ng-click="select(child)" ng-dblclick="toggle()" class="toggle">
            <!--suppress HtmlPresentationalElement -->
            <i ng-class="{'icon-folder-close':isPackage(child) && !isOpen(),'icon-folder-open':isPackage(child) && isOpen(),'disabled':isPackage(child) && !child.hasChildren, 'icon-eye-open':isUseCase(child)}"></i>
            <span class="name">{{child.name}}</span>
        </span>
        <button class="btn btn-danger" ng-click="removeMe()">Remove</button>
    </div>
    <ul ng-show="isOpen()"></ul>
</div>