<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="libs/jquery.js"></script>
    <script src="libs/jquery.resize.js"></script>
</head>
<body ng-app="ITC">
<table class="workspace" ng-controller="WorkspaceCtrl">
    <tbody>
    <tr>
        <td>
            <tabs>
                <pane heading="Welcome">Static content</pane>
                <pane ng-repeat="pane in panes" heading="{{pane.title}}" active="pane.active" icon="{{pane.icon}}">
                    <ng-include src="src(pane)"></ng-include>
                </pane>
            </tabs>
        </td>
        <td></td>
        <td>
            <div ng-controller="TreeCtrl">
                <div class="controls">
                    <button id="newPackage" ng-click="newPackage()" ng-disabled="null!=selectedNode && !isPackage(selectedNode)" class="btn"
                            tooltip="New package" tooltip-placement="bottom">
                        <i class="icon-folder-close"></i>
                    </button>
                    <button id="newUsecase" ng-click="newUsecase()" ng-disabled="!isPackage(selectedNode)" class="btn" tooltip="New usecase"
                            tooltip-placement="bottom">
                        <i class="icon-eye-open"></i>
                    </button>
                </div>
                <ul id="treeRoot">
                    <li ng-repeat="child in child.getChildren()">
                        <!--suppress HtmlUnknownTag -->
                        <treenode></treenode>
                    </li>
                </ul>
                <div>selectedNode:<span id="selectedNode">{{selectedNode.name}}</span></div>
                <div class="selectedNode">selectedNode JSON:{{selectedNode}}</div>
                <div>events:{{getEvents()}}</div>
                <div ng-repeat="event in getEvents()">{{event}} listeners: {{getListenersCount(event)}}</div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script src="libs/showdown.js"></script>
<script src="libs/angular.js"></script>
<script src="libs/angular-resource.js"></script>
<script src="libs/angular-ui-bootstrap.js"></script>
<script src="js/tree.js"></script>
</body>
</html>